:root {
   font-synthesis: none;

}

.imgCart {
width: 90px;
height: 90px;

}

.itemThumb{
max-height: 300px;   
max-width: 300px;
min-height: 300px;
min-width: 300px;
} 

@media (max-width: 6in) {
   .imgCart {
     max-width: 45px;
   }
 }